{% extends 'base/main.html.twig' %}

{% block main_class %}{{ parent() }} cart index{% endblock %}
{% block title 'Shop : Votre panier' %}

{% block main %}
    <!-- Header -->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-4">
            <h1 class="text-start text-white display-6 fw-normal">Votre panier</h1>
        </div>
    </header>

    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            {% if cart.elements %}
            <p class="d-flex justify-content-end m-0">Prix</p>
            <div class="row">
                {% for element in cart.elements  %}
                    <hr class="">
                    {% include 'main/components/_cart.html.twig' %}
                {% endfor %}
            </div>

            <hr class="">
            <div class="d-flex justify-content-end">
                <span>Sous-Total ({{ cart.elements | length > 1 ? cart.elements | length ~ ' articles' : cart.elements | length ~ ' article'}}) :&nbsp;</span>
                <span class="fw-bolder">{{ cart.total }} €</span>
            </div>

            <div class="d-flex justify-content-end mt-5">
                <a href="{{ path('app_checkout') }}" class="btn btn-sm btn-primary">Passer la commande</a>
            </div>

            <div class="bg-light p-5 mt-4">
                <a href="{{ path('app_cart_clear') }}" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i> vider le panier</a>
            </div>
            {% else %}
            <div class="bg-light p-5">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h5 class="fs-4 fw-lighter">Oups! Votre panier est vide</h5>
                    <a href="{{ path('app_home') }}" class="btn btn-sm btn-secondary">Continuer vos achats</a>
                </div>
                <div class="mt-4">
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-primary mb-2">Connectez-vous sur votre compte</a>
                    <a href="{{ path('app_register') }}" class="btn btn-sm btn-warning mb-2">Inscrivez-vous maintenant</a>
                </div>
            </div>

            <div class="bg-light p-5 mt-5"></div>
            {% endif %}
        </div>
    </section>
{% endblock %}
