{% extends 'base/admin.html.twig' %}

{% block admin_class %}{{ parent() }} client show{% endblock %}
{% block title %}Client{% endblock %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="fs-3 fw-bolder m-0">Client : #{{ user.id }}</h1>
        <div class="d-flex align-items-center">
            {{ include('admin/client/_delete_form.html.twig') }}
            <a href="{{ path('app_admin_client_index') }}" class="btn btn-sm btn-dark ms-1">back to list</a>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="fs-4 text-muted mt-5">Adresse</h4>
    {% if user.address %}
    <table class="table">
        <tbody>
        <tr>
            <th>Rue</th>
            <td>{{ user.address.street }}</td>
        </tr>
        <tr>
            <th>Complement</th>
            <td>{{ user.address.complement }}</td>
        </tr>
        <tr>
            <th>Code postal</th>
            <td>{{ user.address.postal }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ user.address.city }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ user.address.country }}</td>
        </tr>
        </tbody>
    </table>
    {% else %}
        <p>Le client n'a pas fourni l'adresse de livraison</p>
    {% endif %}
{% endblock %}
